<% provide(:title, "Welcome") %>
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Custodia</h1>
    <p class="lead">
      Insert description here.
    </p>
    <p><%= link_to "Log in", login_path, class: "btn btn-lg btn-primary", role: "button" %></p>
    <p>Don't have a login? Contact your administrator!</p>
  </div>
</div>
