<% provide(:title, 'Edit equipment') %>
<% provide(:button_text, 'Save changes') %>
<h1>Update equipment</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'equipment_form' %>
  </div>
</div>
