<nav class="navbar fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= link_to "About", '#', class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Contact", 'mailto:james@mccloskey.io', class: "nav-link" %></li>
  </ul>
</nav>
