<nav class="container fixed-bottom navbar navbar-light navbar-toggleable-md">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item"><%= link_to "About", '#', class: "nav-link" %></li>
    <li class="nav-item"><%= link_to "Contact", '#', class: "nav-link" %></li>
  </ul>
</nav>
